---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title=`关于 | Mingeme's blog`>
  <section class="text-base
    prose
    dark:prose-invert
    prose-truegray
    max-w-3xl
    mx-auto">
    <h2>关于我</h2>
    <p>一位活跃的 "Web Worker"，全栈开发领域的爱好者，抽象达人，奇思妙想家。</p>
    <h2>关于本站</h2>
    <p>技术栈</p>
    <ul>
      <li>
        托管于 <a href="https://vercel.com" target="_blank" rel="noopener noreferrer">Vercel</a>
      </li>
      <li>
        构建于 <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a>
        <a href="https://unocss.dev" target="_blank" rel="noopener noreferrer">Unocss</a>
      </li>
      <li>
        域名服务 <a href="https://www.namecheap.com" target="_blank" rel="noopener noreferrer">Namecheap</a>
      </li>
      <li>
        域名解析 <a href="https://cloudflare.com" target="_blank" rel="noopener noreferrer">Cloudflare</a>
      </li>
    </ul>
    <p>
      查看本博客<a href="http://github.com/mingeme/mingeme.site" target="_blank" rel="noopener noreferrer">仓库</a>
    </p>
  </section>
</BaseLayout>
