---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = `关于我 | Mingeme's blog`;
---

<BaseLayout pageTitle={pageTitle}>
  <article class="text-base
    prose
    dark:prose-invert
    prose-truegray
    xl:text-xl
    mx-auto">
    <h2>关于我</h2>
    <p>
      一位"不务正业"的 Javaer，靠 Java 支撑编程梦，对 Web 开发相关技术充满热情，目前正在学习前端技术，业余时间探索
      Nodejs 的 Web 开发领域，期望成为全栈开发工程师。
    </p>
    <div>
      <p>通过我的社交媒体了解我吧!</p>
      <div class="flex">
        <a
          title="Github"
          href="https://github.com/mingeme"
          target="_blank"
          class="text-sm text-gray-500 transition hover:text-gray-600"
          rel="noopener noreferrer"
        >
          <span class="sr-only">Github</span>
          <div class="w-6 h-6 text-gray-700 hover:text-blue-500 i-carbon-logo-github"></div>
        </a>
        <a
          title="微博"
          href="https://weibo.com/u/2140718862"
          target="_blank"
          class="text-sm text-gray-500 transition hover:text-gray-600"
          rel="noopener noreferrer"
        >
          <span class="sr-only">微博</span>
          <div class="w-6 h-6 text-gray-700 hover:text-blue-500 i-mdi:sina-weibo"></div>
        </a>
      </div>
    </div>
    <h2>关于本站</h2>
    <p>技术栈</p>
    <ul>
      <li>
        托管于 <a href="https://vercel.com" target="_blank" rel="noopener noreferrer">Vercel</a>
      </li>
      <li>
        构建于 <a href="https://astro.build" target="_blank" rel="noopener noreferrer">Astro</a>
        <a href="https://unocss.dev" target="_blank" rel="noopener noreferrer">Unocss</a>
      </li>
      <li>
        域名服务 <a href="https://www.namecheap.com" target="_blank" rel="noopener noreferrer">Namecheap</a>
      </li>
      <li>
        域名解析 <a href="https://cloudflare.com" target="_blank" rel="noopener noreferrer">Cloudflare</a>
      </li>
    </ul>
    <p>
      查看本博客<a href="http://github.com/mingeme/mingeme.site" target="_blank" rel="noopener noreferrer">仓库</a>
    </p>
  </article>
</BaseLayout>
