---
import { getCollection } from 'astro:content';
import PageLayout from '@/layouts/PageLayout.astro';
import Container from '@/components/Container.astro';
import ArrowCard from '@/components/ArrowCard.astro';
import { MISC } from '@/consts';

const posts = (await getCollection('blog'))
  .filter((post) => post.data.public && post.data.misc && !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={MISC.TITLE} description={MISC.DESCRIPTION}>
  <Container>
    {
      posts.length === 0 ? (
        <p class="animate font-meta text-sm text-faint">暂时还没有内容。</p>
      ) : (
        <ol class="animate">
          {posts.map((post) => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ol>
      )
    }
  </Container>
</PageLayout>
