---
import { getCollection } from 'astro:content';
import PostCard from '../components/PostCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = `Mingeme's miscellaneous talks`;

const allPosts = (await getCollection('posts'))
  .filter((post) => post.data.public && post.data.misc)
  .sort((a, b) => {
    const d1 = new Date(a.data.pubDate);
    const d2 = new Date(b.data.pubDate);
    return d2.getTime() - d1.getTime();
  });
---

<BaseLayout pageTitle={pageTitle}>
  <div class="h-full xl:max-w-3xl mx-auto md:px-0 dark:bg-dark">
    <div>
      <div class="flex flex-col">
        {allPosts.map((post) => <PostCard url={post.slug} frontmatter={post.data} />)}
      </div>
    </div>
  </div>
</BaseLayout>
