---
import Link from './Link.astro';
import ThemeToggle from './ThemeToggle.astro';

const links = [
  {
    url: '/',
    title: '首页',
  },
  {
    url: '/about',
    title: '关于',
  },
  {
    url: '/misc',
    title: '杂谈',
  },
];
---

<header
  class="sticky top-0 z-40 py-4 overflow-x-hidden supports-backdrop-blur:bg-background/95 bg-background/80 backdrop-blur shadow border-b border-border"
>
  <div class="container px-4 mx-auto">
    <div class="flex items-center justify-between">
      <div>
        <a class="font-medium text-xl tracking-tight" href="/"> Mingeme </a>
      </div>
      <nav class="flex space-x-4 items-center">
        <div class="flex items-center space-x-4">
          {links.map((link) => <Link url={link.url} title={link.title} />)}
          <ThemeToggle />
        </div>
      </nav>
    </div>
  </div>
</header>
