---
const { title, url } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = url === pathname || url === '/' + subpath?.[0];
---

<a
  href={url}
  rel="noopener noreferrer"
  class:list={['px-2 transition-colors', isActive ? 'text-foreground font-medium' : 'text-gray-600 hover:text-accent']}
>
  {title}
</a>
