---
import { clsx } from 'clsx';
const { title, url } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = url === pathname || url === '/' + subpath?.[0];
---

<a
  href={url}
  rel="noopener noreferrer"
  class="no-underline px-2 text-gray-400 hover:text-white transition-colors"
>
  {title}
</a>
