---
import Link from './Link.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<div class="space-x-2 sm:block">
  <Link url="/" title="首页" />
  <Link url="/about" title="关于" />
  <Link url="/blog" title="博客" />
  <ThemeSwitcher />
</div>
