---
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone';
import localizedFormat from 'dayjs/plugin/localizedFormat';
import 'dayjs/locale/zh-cn';
import Badge from './ui/badge.astro';

dayjs.extend(utc);
dayjs.extend(timezone);
dayjs.extend(localizedFormat);
dayjs.locale('zh-cn');

const { url, frontmatter } = Astro.props;
---

<div class="overflow-hidden transition-all duration-300">
  <a href={`/posts/${url}`}>
    <div class="py-2">
      <h2 class="text-xl font-bold text-foreground">
        {frontmatter.title}
      </h2>
      <div class="flex flex-wrap gap-2 mt-2">
        {
          frontmatter.tags.map((tag: string) => (
            <Badge variant="secondary" class="rounded-full text-xs font-medium">
              {tag}
            </Badge>
          ))
        }
      </div>
      <div class="mt-4 text-sm text-gray-500">
        {dayjs(frontmatter.pubDate).tz('Asia/Shanghai').format('ll')}
      </div>
    </div>
  </a>
</div>
