---
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone';
import localizedFormat from 'dayjs/plugin/localizedFormat';
import 'dayjs/locale/zh-cn';
import BaseLayout from './BaseLayout.astro';
import ImageViewer from '../components/ImageViewer.astro';
import TableOfContents from '../components/TableOfContents.astro';

dayjs.extend(utc);
dayjs.extend(timezone);
dayjs.extend(localizedFormat);
dayjs.locale('zh-cn');

const { title, pubDate, headings } = Astro.props;
const allHeadings = [
  {
    depth: 1,
    slug: 'title',
    text: title,
  },
  ...headings,
];
---

<BaseLayout title={`${title} | Mingeme's blog`}>
  <ImageViewer />
  <article class="py-8 md:py-12">
    <div class="container px-4 mx-auto">
      <div class="max-w-3xl mx-auto">
        <!-- Post Header -->
        <div class="mb-8 text-center">
          <h1 class="text-4xl md:text-5xl font-medium mb-6 tracking-tight">
            {title}
          </h1>
          <div class="flex items-center justify-center space-x-2 mb-3">
            <span class="text-xs text-muted-foreground">
              {dayjs(pubDate).tz('Asia/Shanghai').format('lll')}
            </span>
          </div>
        </div>

        <!-- Post Content -->
        <div class="prose prose-lg dark:prose-invert max-w-none">
          <slot />
        </div>
      </div>
    </div>
  </article>
</BaseLayout>

<script is:inline>
  /**
   * Attaches copy buttons to code blocks in the document,
   * allowing users to copy code easily.
   */
  function attachCopyButtons() {
    const copyButtonLabel = '复制';
    const codeBlocks = Array.from(document.querySelectorAll('pre'));

    for (const codeBlock of codeBlocks) {
      const wrapper = document.createElement('div');
      wrapper.style.position = 'relative';

      const copyButton = document.createElement('button');
      copyButton.className =
        'copy-code absolute right-3 -top-3 rounded bg-background text-gray-900 dark:bg-dark px-2 py-1 text-xs leading-4 font-medium border-1 border-gray-300';
      copyButton.innerHTML = copyButtonLabel;
      codeBlock.setAttribute('tabindex', '0');
      codeBlock.appendChild(copyButton);

      // wrap codebock with relative parent element
      codeBlock.parentNode.insertBefore(wrapper, codeBlock);
      wrapper.appendChild(codeBlock);

      copyButton.addEventListener('click', async () => {
        await copyCode(codeBlock, copyButton);
      });
    }

    async function copyCode(block, button) {
      const code = block.querySelector('code');
      const text = code.textContent;

      await navigator.clipboard.writeText(text);

      // visual feedback that task is completed
      button.textContent = '已复制';

      setTimeout(() => {
        button.textContent = copyButtonLabel;
      }, 700);
    }
  }
  attachCopyButtons();
  document.addEventListener('astro:after-swap', attachCopyButtons);

  /**
   * Scrolls the document to the top when
   * the "Back to Top" button is clicked.
   */
  function backToTop() {
    document.querySelector('#back-to-top')?.addEventListener('click', () => {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    });
  }
  backToTop();
  document.addEventListener('astro:after-swap', backToTop);
</script>
